/* Sets the global background with a dimmed effect */
body {
    background: url('/sinnoh-map.jpg') no-repeat center center fixed;
    background-size: cover;
    overflow: auto;
  }
  
  /* Adding an overlay to dim the background image */
  body::before {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Adjust opacity to make it darker or lighter */
    z-index: -1; /* Ensures the overlay is behind the content */
  }
  
  .main-content {
    margin-top: 20px; /* Increase top margin to 50px */
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }
  